header{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    background-color: #219ebc;
    display: flex;
    padding-top: 3px;
    box-sizing: border-box;
}

img{
    width: 35px;
    height: 35px;
    margin-right: -15px;
    transition: 1 ease all;
}

.link{
    border-radius: 10px;
    width: 100px;
    margin-left: 20px;
    height: 35px;
    color: white;
    font-size: large;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    transition: 1s;
    text-shadow: 1px 1px black;
}

#notifications{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    color: white;
    font-weight: large;
    text-shadow: 1px 1px black;
    transition: 1 ease all;
}

#forNotifications{
    display: flex;
    margin-left: 10px;
    transition: 1s;
}

#forNotifications:hover img, #forNotifications:hover #notifications {
    opacity: 0.3;
}

input{
    width: 37px;
    height: 37px;
    position: relative;
    z-index: 1;
    margin-left: -35px;
    margin-top: -1px;
    opacity: 0;
}


#toRollBasket{
    position: absolute;
    margin-top: 50px;
    width: 200px;
    max-height: 0px;
    overflow: hidden;
    transition: 1s ease all;
    border-radius: 10px;
    z-index: 1;
}

input:checked ~ #toRollBasket{
    max-height: 3000px;
    display: block;
}

input:not(:checked) ~ #toRollBasket{
    max-height: 0;
}

.productsInBasket{
    display: flex;
    width: 270px;
    padding: 10px;
    align-content: space-between;
    align-items: center;
    background-color: #93deff;
    user-select: none;
    border-top: 1px solid black;
}

.title{
    background-color: #97C8EB;
    border: none;
}

#info{
    font-weight: bold;
}

p{
    font-family:'Times New Roman', Times, serif;
    width: 100%;
}

a{
    text-decoration: none;
}

.link:hover{
    opacity: 0.5;
    background-color: black;
}

#email{
    color: white;
    text-shadow: 1px 1px black;
    margin: 0 10px 0 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    height: 100%;
    padding-top: 5px;
}