#background{
    padding: 10px;
    display: flex;
    width: 100%;
}

h1{
    text-align: center;
}

#slider{
    width: 450px;
    height: 300px;
    border: 2px solid rgb(197, 197, 197);
    background-color:rgb(197, 197, 197);
}

img{
    margin-top: -182px;
    width: 100%;
    height: 100%;
    transition: 1s;
    user-select: none;
}

#swapCont{
    display: flex;
    justify-content: space-between;
    margin: 130px 20px 0 20px;
    user-select: none;
}

.swap{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    z-index: 1;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    opacity: 0.5;
}

.swap:hover{
    opacity: 0.8;
}

a{
    text-decoration: none;
}

#mainContent{
    width: 50%;
    background-color: #caf0f8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#comeback{
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    transition: 1s;
}

#comeback:hover{
    opacity: 0.2;
}

#leftCont{
    display: flex;
    width: 25%;
    align-self: flex-start;
    justify-content: center;
}

#rightCont{
    margin-left: 5%;
    width: 20%;
    display: flex;
    justify-content: center;
    height: 300px;
    border-left: 1px solid black
}

.tripButton{
    width: 160px;
    height: 50px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
    margin-top: 10px;
    transition: 1s;
}

#tripOffer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#reserve{
    background-color: green;
}

#resign{
    background-color: red;
}

p{
    margin: 5px;
    font-size: 17px;
}

.tripButton:hover{
    opacity: 0.3;
}

#reservationsMade{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    align-self: center;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
    font-weight: bold;
    margin-left: 20px;
}

#reservCont{
    margin-top: 5px;
    width: 181px;
    height: 30px;
    display: flex;
    align-items: center;
}

#spots{
    margin: 0;
    width: 130px;
}

#forDesc{
    width: 450px;
}

.desc{
    font-size: 20px;
    margin: 10px;
}