<h1>Witaj w Travel World</h1>
<div class="container">   
    <img class="photo" src="./assets/img/icons/photo.jpg" alt="zdjęcie">
    <img class="photo" src="./assets/img/icons/photo2.jpg" alt="zdjęcie">
    <img class="photo" src="./assets/img/icons/photo3.jpg" alt="zdjęcie">
</div>

<h2>Znajdź nas</h2>
<div id="mainCont">
    <div id="container2">
        <div id="container3">
            <p>Adres: Aleja Adama Mickiewicza 30 Kraków </p>
            <p>Telefon: 533 552 147</p>
            <div class="container">
                <img class="icon" src="./assets/img/icons/fb.png" alt="zdjęcie">
                <img class="icon" src="./assets/img/icons/ig.png" alt="zdjęcie">
                <img class="icon" src="./assets/img/icons/twitter.png" alt="zdjęcie">
            </div>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10244.038450065367!2d19.902096427861572!3d50.06738162384452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba756b59b21%3A0xb20c8dba21b317d1!2sAkademia%20G%C3%B3rniczo-Hutnicza%20im.%20Stanis%C5%82awa%20Staszica%20w%20Krakowie!5e0!3m2!1spl!2spl!4v1670671416003!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>



