/* You can add global styles to this file, and also import other style files */
body{
    padding: 0;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    background-color: #fafafa;
}

app-trip{
    display:flex;
    justify-content: center;
}
